<div block="bottom-info">
    <div elem="section" class="contain">
        <h2 elem="title">ARE YOU READY FOR INCREDIBLE EXPERIENCE?</h2>
        <div elem="desc">What if your brand can launch campaing with hundreds social influencers in just one day?</div>
        <a elem="btn-try" class="btn-default" href="https://app.earnon.social/signup/" target="_blank">IT’S TIME TO TRY IT!</a>
    </div>
</div><!-- bottom-info -->