.bottom-info
    margin-bottom 100px

    @media (max-width 1279px)
        margin-bottom 50px

    &__section
        text-align center

    &__title
        font-size 36px
        color #292929
        font-weight 700
        line-height 1.1
        text-transform uppercase    
        width 1050px
        max-width 100%
        margin 0 auto 30px

        @media (max-width 1279px)
            font-size 30px
            margin-bottom 20px

        @media (max-width 959px)
            font-size 26px    

        @media (max-width 479px)
            font-size 24px

    &__desc
        font-size 28px
        color #292929
        font-weight 400
        line-height 1.1
        width 1050px
        max-width 100%
        margin 0 auto 65px

        @media (max-width 1279px)
            font-size 28px
            margin-bottom 35px

        @media (max-width 959px)
            font-size 24px    

        @media (max-width 479px)
            font-size 20px   
            margin-bottom 15px

    &__btn-try
        width 610px
        max-width 100%
        padding-top 30px
        padding-bottom 30px    
        border 1px solid #2c68d6

        @media (max-width 1279px)
            font-size 18px
            padding 25px
            width 320px 

        @media (max-width 479px)
            font-size 16px