<header block="app-header">
    <div elem="section">
        <div elem="top-line">
            <div elem="inner" class="contain">
                {% include "logo.html" %}
                <div elem="manage">
                    <div block="language-v">
                        <span elem="set-language">EN</span>
                        <div elem="language-v-dropdown">
                            <a elem="link" href="index-ru.html">RU</a>
                        </div>
                    </div>
                    <div block="log-in">
                        <a elem="btn-log-in" href="https://app.earnon.social/" target="_blank">Log In</a>
                    </div>
                </div>
                <div class="burger" id="burger"><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div block="mobile-menu" class="js-mobile-menu">
                    <div elem="section">
                        <div block="language-v">
                            <span elem="set-language">EN</span>
                            <div elem="language-v-dropdown">
                                <a elem="link" href="index-ru.html">RU</a>
                            </div>
                        </div>
                        <div block="log-in">
                            <a elem="btn-log-in" href="https://app.earnon.social/" target="_blank">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "first-screen.html" %}
    </div>
</header><!-- b:app-header -->
