.app-header
    flex none
    background-color #fff
    overflow hidden
    position relative
    z-index 10

    &__top-line
        padding-top 20px
        padding-bottom 20px
        position fixed
        top 0
        left 0
        width 100%
        background-color #fff
        border-bottom 1px solid #e7ebf0
        z-index 10

    &__inner
        display flex
        align-items center
        justify-content space-between    

    &__manage
        display flex
        align-items center    

        .language-v,
        .log-in
            @media (max-width 640px)
                display none
.language-v
    margin-right 75px
    position relative

    @media (max-width 959px)
        margin-right 35px

    @media (max-width 479px)
        margin-right 25px

    &__set-language    
        font-size 28px
        color #292929
        font-weight 400
        line-height 1
        text-transform uppercase
        text-decoration none
        transition color .3s
        cursor pointer
        position relative
        &:hover
            color #2c68d5

            + .language-v__language-v-dropdown
                opacity 1
                visibility visible

        &:after
            content ''
            position absolute
            top 15px
            right -12px
            width 0
            height 0
            border-style solid
            border-width 5px 3.5px 0 3.5px
            border-color #292929 transparent transparent transparent    

            @media (max-width 959px)
                top 12px

            @media (max-width 479px)
                top 7px

        @media (max-width 959px)
            font-size 24px    

    &__link
        font-size 28px
        color #292929
        font-weight 400
        line-height 1
        text-transform uppercase
        text-decoration none
        transition color .3s
        cursor pointer
        position relative

        &:hover
            color #2c68d5

        @media (max-width 959px)
            font-size 24px    

    &__language-v-dropdown
        opacity 0
        visibility hidden
        position absolute
        background-color #fff
        transition opacity 0.2s ease-out
        box-shadow 0 0 20px 5px rgba(0,0,0,0.05)
        padding 15px 15px
        z-index 2
        transform translate(-15px, 5px)
        transition opacity .3s, ease .3s
        &:hover
            opacity 1
            visibility visible

.log-in

    &__btn-log-in
        font-size 28px
        color #2c68d5
        font-weight 400
        line-height 1
        text-decoration none
        transition color .3s
        &:hover
            color #292929

        @media (max-width 959px)
            font-size 24px        

.burger
    cursor pointer
    position relative
    z-index 99999
    -webkit-transition 0.5s ease-in-out
    -o-transition 0.5s ease-in-out
    transition 0.5s ease-in-out
    -webkit-transform rotate(0deg)
    -ms-transform rotate(0deg)
    transform rotate(0deg)
    height 30px
    width 32px
    display none

    @media (max-width 640px)
        display block

    span
        display block
        width 26px
        height 2px
        background-color #000
        -webkit-transform rotate(0deg)
        -ms-transform rotate(0deg)
        transform rotate(0deg)
        -webkit-transition 0.25s ease-in-out
        -o-transition 0.25s ease-in-out
        transition 0.25s ease-in-out
        transform rotate(0deg)
        position absolute
        opacity 1
        border-radius 2px
        &:nth-child(even)
            left calc(50% + 3px)
            left 3px
    &.is-active-burger
        span
            width 20px
            &:nth-child(1)
                left 0px
                top 11px
            &:nth-child(2)
                left calc(50% - 10px)
                top 11px
            &:nth-child(3)
                left -50%
                opacity 0
            &:nth-child(4)
                left 100%
                opacity 0
            &:nth-child(5)
                left 0px
                top 17px
            &:nth-child(6)
                left calc(50% - 10px)
                top 17px

.burger span:nth-child(1), .burger span:nth-child(2)
    top 6px

.burger span:nth-child(3), .burger span:nth-child(4)
    top 14px

.burger span:nth-child(5), .burger span:nth-child(6)
    top 22px

.burger.is-active-burger span:nth-child(1), .burger.is-active-burger span:nth-child(6)
    -webkit-transform rotate(45deg)
    -ms-transform rotate(45deg)
    transform rotate(45deg)

.burger.is-active-burger span:nth-child(2), .burger.is-active-burger span:nth-child(5)
    -webkit-transform rotate(-45deg)
    -ms-transform rotate(-45deg)
    transform rotate(-45deg)

.mobile-menu
    width 95%
    position absolute
    top 101%
    right 0
    background-color #fff
    box-shadow 2px 9px 20px 0px rgba(70,90,118,0.25)
    z-index 10
    padding 35px
    opacity 0
    visibility hidden
    right -95%
    transition right .1s, opacity .3s

    &.is-open-mobile-menu
        opacity 1
        right 0
        visibility visible

    
    @media (min-width 641px)
        display none
     
    .language-v
        margin-bottom 20px    

        &__set-language    
            &:after
                top 12px