.how-it-works
    padding-top 50px
    margin-bottom 45px

    &__cols
        display flex
        align-items center

        @media (max-width 767px)
            display block

    &__col
        flex 0 0 50%
        width 50%   
        max-width 50% 

        &:first-child
            @media (max-width 959px)
                margin-right 15px

        @media (max-width 767px)
            flex 0 0 100%
            width 100%   
            max-width 100% 

    &__head
        width 605px
        max-width 100%    

        @media (max-width 767px)
            margin-bottom 0
        
    &__title
        font-size 36px
        color #292929
        font-weight 700
        line-height 1.3
        text-transform uppercase
        margin-bottom 20px
        margin-top 0

        @media (max-width 1279px)
            font-size 30px
            margin-bottom 20px

        @media (max-width 959px)
            font-size 26px    

        @media (max-width 479px)
            font-size 24px

    &__desc
        font-size 28px
        color #292929
        font-weight 400
        line-height 1.1    

        @media (max-width 1279px)
            font-size 26px

        @media (max-width 959px)
            font-size 22px    

        @media (max-width 479px)
            font-size 18px 
    
    .tns-outer
        position relative

        .tns-controls
            display flex
            justify-content space-between
            width 100%
            position absolute    
            top -50px
            transform translateY(-50%)
            z-index 5

            @media (max-width 440px)
                top -70px

            button
                font-size 50px
                color #2c68d5
                border none
                background-color transparent
                &:first-child
                    transform translateX(-10px)

                    @media (max-width 440px)
                        transform translateX(-50%)

                &:last-child
                    transform translateX(10px)

                    @media (max-width 440px)
                        transform translateX(50%)

        .tns-nav
            display flex
            justify-content center

            button 
                width 20px
                height 20px   
                background-color #E9E9E9
                border none
                border-radius 50%
                margin-right 10px
                padding 0
                display block
                position relative
                &:last-child
                    margin-right 0

                &:before
                    content ''
                    position absolute
                    top 50%
                    left 50%
                    transform translate(-50%, -50%)
                    width 6px
                    height 6px
                    border-radius 50%

                &.tns-nav-active 
                    &:before
                        background-color #2c68d5
                    

    &__items
        padding-top 25px
        padding-right 30px    
        border-right 2px solid #7b7b7b
        position relative

        @media (max-width 767px)
            height 100%
            border-right none
            padding-right 0
            width 480px
            max-width 100%
            margin 0 auto

    &__active-border
        position absolute
        background-color #2c68d5
        width 6px
        height 93px 
        top 30px
        right -4px
        transition height .3s, top .3s

        @media (max-width 767px)
            display none

    &__item
        padding-top 15px
        padding-bottom 15px
        cursor pointer

        @media (max-width 767px)
            pointer-events none
            width 350px
            max-width 100%  
            margin 0 auto
            display none

        @media (max-width 440px)
            width 240px    

        &:last-child
            margin-bottom 0

        &:hover

            & ^[0]    

                &__name
                    color #2c68d6

        &.is-active-item-theme

            @media (max-width 767px)
                display block

            & ^[0]    

                &__name
                    color #2c68d6

    &__item-body
        color #292929
        text-align right
        
        @media (max-width 767px)
            text-align left

    &__name
        font-size 28px
        font-weight 700
        line-height 1.1
        margin-bottom 5px   
        transition color .3s

        @media (max-width 1279px)
            font-size 24px

        @media (max-width 959px)    
            font-size 22px  

        @media (max-width 767px)      
            font-size 18px

    &__text
        font-size 24px
        font-weight 400
        line-height 1.2

        @media (max-width 1279px)
            font-size 20px

        @media (max-width 959px)    
            font-size 18px

        @media (max-width 767px)     
            font-size 16px    

    &__img
        width 415px
        max-width 100%
        margin 0 auto
        transform translateY(0)
        transition transform .5s

        // @media (min-width 768px)
        //     height 625px

    &__img-body

        @media (max-width 767px)
            width 350px
            max-width 100%
            margin 0 auto