<div block="how-it-works">
    <div elem="section" class="contain">
        <div elem="head">
            <h2 elem="title">HOW IT WORKS</h2>
            <div elem="desc">You need less than 5 minutes to create task and less than 30 minutes to get first results:</div>
        </div>
        <div elem="cols">
            <div elem="col">
                <div elem="items">
                    <div elem="active-border" class="js-active-border"></div>
                    <div elem="item" class="js-item-theme is-active-item-theme">
                        <div elem="item-body">
                            <div elem="name">Select goal and create task</div>
                            <div elem="text">Choose promo story to grow real followers and website visits or grow post activity for real relevant comments.</div>
                        </div>
                    </div>
                    <div elem="item" class="js-item-theme">
                        <div elem="item-body">
                            <div elem="name">Set Up Auto or Need approve mode</div>
                            <div elem="text">You can allow everyone accept your task or moderate it directly.</div>
                        </div>
                    </div>
                    <div elem="item" class="js-item-theme">
                        <div elem="item-body">
                            <div elem="name">Get results and rate influencers</div>
                            <div elem="text">Our community based on fair ratings and reviews. If you don’t like how task was done - this influencer will never see your task again.</div>
                        </div>
                    </div>
                    <div elem="item" class="js-item-theme">
                        <div elem="item-body">
                            <div elem="name">Complete tasks and earn money</div>
                            <div elem="text">Be paid on credit card or create new tasks for influencers.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="col" mods="img">
                <div elem="container-img" class="js-container-img">
                    <div elem="img" class="js-img-theme"><div elem="img-body"><img src="img/work2-img.jpg" alt=""></div></div>
                    <div elem="img" class="js-img-theme"><div elem="img-body"><img src="img/work3-img.jpg" alt=""></div></div>
                    <div elem="img" class="js-img-theme"><div elem="img-body"><img src="img/work4-img.jpg" alt=""></div></div>
                    <div elem="img" class="js-img-theme"><div elem="img-body"><img src="img/work-img.jpg" alt=""></div></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- how-it-works -->