/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.main-svg-sprite {
  display: none;
}
.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}
.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Regular.woff2") format('woff2'), url("../fonts/SFProDisplay-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Bold.woff2") format('woff2'), url("../fonts/SFProDisplay-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format('woff2'), url("../fonts/SFProDisplay-Semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}
svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}
.theme-color {
  color: ;
}
/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.visuallyhidden,
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}
.visuallyhidden:active,
.screen-reader-text:active,
.visuallyhidden:focus,
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 /* Above WP toolbar. */;
}
.app-footer {
  -ms-flex: none;
      flex: none;
  padding-top: 70px;
  padding-bottom: 70px;
  border-top: 1px solid #e0e4e9;
}
.app-footer__cols {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}
.app-footer__col--site-info {
  width: 50%;
}
.app-footer__col--contacts {
  width: 30%;
}
.app-footer__col--payments {
  width: 20%;
}
.app-footer__logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 25px;
}
.app-footer__logo a {
  margin-right: 15px;
}
.app-footer__logo-name {
  font-size: 18px;
  color: #34374c;
  font-weight: 600;
}
.app-footer__menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 50px;
}
.app-footer__menu li {
  margin-bottom: 15px;
}
.app-footer__menu li a {
  font-size: 16px;
  color: #34374c;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
}
.app-footer__menu li a:hover {
  color: #2c68d5;
}
.app-footer__social {
  display: -ms-flexbox;
  display: flex;
}
.app-footer__social--mob {
  display: none;
}
.app-footer__social-link {
  width: 30px;
  margin-right: 20px;
  text-decoration: none;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.app-footer__social-link:hover {
  -webkit-transform: translate(0, 4px);
          transform: translate(0, 4px);
}
.app-footer__social-link:last-child {
  margin-right: 0;
}
.app-footer__title {
  font-size: 16px;
  color: #34374c;
  font-weight: 600;
  margin-bottom: 25px;
}
.app-footer__contacts a {
  font-size: 16px;
  color: #34374c;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  transition: color 0.3s;
}
.app-footer__contacts a:hover {
  color: #2c68d5;
}
.app-footer__payments-service {
  width: 215px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.app-footer__payments-img {
  width: 60px;
  margin-bottom: 15px;
}
.app-footer__copy {
  font-size: 14px;
}
.app-header {
  -ms-flex: none;
      flex: none;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
}
.app-header__top-line {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e7ebf0;
  z-index: 10;
}
.app-header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.app-header__manage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.language-v {
  margin-right: 75px;
  position: relative;
}
.language-v__set-language {
  font-size: 28px;
  color: #292929;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
  position: relative;
}
.language-v__set-language:hover {
  color: #2c68d5;
}
.language-v__set-language:hover + .language-v__language-v-dropdown {
  opacity: 1;
  visibility: visible;
}
.language-v__set-language:after {
  content: '';
  position: absolute;
  top: 15px;
  right: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 3.5px 0 3.5px;
  border-color: #292929 transparent transparent transparent;
}
.language-v__link {
  font-size: 28px;
  color: #292929;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
  position: relative;
}
.language-v__link:hover {
  color: #2c68d5;
}
.language-v__language-v-dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  transition: opacity 0.2s ease-out;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.05);
  padding: 15px 15px;
  z-index: 2;
  -webkit-transform: translate(-15px, 5px);
          transform: translate(-15px, 5px);
  transition: opacity 0.3s, ease 0.3s;
}
.language-v__language-v-dropdown:hover {
  opacity: 1;
  visibility: visible;
}
.log-in__btn-log-in {
  font-size: 28px;
  color: #2c68d5;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  transition: color 0.3s;
}
.log-in__btn-log-in:hover {
  color: #292929;
}
.burger {
  cursor: pointer;
  position: relative;
  z-index: 99999;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  height: 30px;
  width: 32px;
  display: none;
}
.burger span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #000;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
  position: absolute;
  opacity: 1;
  border-radius: 2px;
}
.burger span:nth-child(even) {
  left: calc(50% + 3px);
  left: 3px;
}
.burger.is-active-burger span {
  width: 20px;
}
.burger.is-active-burger span:nth-child(1) {
  left: 0px;
  top: 11px;
}
.burger.is-active-burger span:nth-child(2) {
  left: calc(50% - 10px);
  top: 11px;
}
.burger.is-active-burger span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.burger.is-active-burger span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.burger.is-active-burger span:nth-child(5) {
  left: 0px;
  top: 17px;
}
.burger.is-active-burger span:nth-child(6) {
  left: calc(50% - 10px);
  top: 17px;
}
.burger span:nth-child(1),
.burger span:nth-child(2) {
  top: 6px;
}
.burger span:nth-child(3),
.burger span:nth-child(4) {
  top: 14px;
}
.burger span:nth-child(5),
.burger span:nth-child(6) {
  top: 22px;
}
.burger.is-active-burger span:nth-child(1),
.burger.is-active-burger span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger.is-active-burger span:nth-child(2),
.burger.is-active-burger span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mobile-menu {
  width: 95%;
  position: absolute;
  top: 101%;
  right: 0;
  background-color: #fff;
  box-shadow: 2px 9px 20px 0px rgba(70,90,118,0.25);
  z-index: 10;
  padding: 35px;
  opacity: 0;
  visibility: hidden;
  right: -95%;
  transition: right 0.1s, opacity 0.3s;
}
.mobile-menu.is-open-mobile-menu {
  opacity: 1;
  right: 0;
  visibility: visible;
}
.mobile-menu .language-v {
  margin-bottom: 20px;
}
.mobile-menu .language-v__set-language:after {
  top: 12px;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}
.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}
* {
  outline: none !important;
}
img {
  max-width: 100%;
  height: auto;
}
.contain {
  width: 1310px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
.btn-default {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 15px 25px 20px 25px;
  background-color: #2c68d5;
  display: inline-block;
  transition: background-color 0.3s;
}
.btn-default:hover {
  background-color: #4c7fdb;
}
.btn-default:active {
  background-color: #2458b6;
}
.social-widget {
  margin-bottom: 90px;
}
.bottom-info {
  margin-bottom: 100px;
}
.bottom-info__section {
  text-align: center;
}
.bottom-info__title {
  font-size: 36px;
  color: #292929;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  width: 1050px;
  max-width: 100%;
  margin: 0 auto 30px;
}
.bottom-info__desc {
  font-size: 28px;
  color: #292929;
  font-weight: 400;
  line-height: 1.1;
  width: 1050px;
  max-width: 100%;
  margin: 0 auto 65px;
}
.bottom-info__btn-try {
  width: 610px;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #2c68d6;
}
.first-screen {
  background: url("../img/ellipse-pic.png") 490% 100% no-repeat;
  margin-bottom: 25px;
  padding-top: 75px;
}
.first-screen__section {
  padding-top: 55px;
  padding-bottom: 170px;
}
.first-screen__cols {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.first-screen__info {
  width: 650px;
  max-width: 100%;
}
.first-screen__title {
  font-size: 36px;
  color: #292929;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
}
.first-screen__desc {
  font-size: 32px;
  color: #292929;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 40px;
}
.first-screen__btn-free {
  font-size: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  width: 510px;
  max-width: 100%;
  border-radius: 5px;
}
.first-screen__note {
  font-size: 24px;
  color: #292929;
  font-weight: 400;
  line-height: 1.1;
}
.how-it-works {
  padding-top: 50px;
  margin-bottom: 45px;
}
.how-it-works__cols {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.how-it-works__col {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}
.how-it-works__head {
  width: 605px;
  max-width: 100%;
}
.how-it-works__title {
  font-size: 36px;
  color: #292929;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}
.how-it-works__desc {
  font-size: 28px;
  color: #292929;
  font-weight: 400;
  line-height: 1.1;
}
.how-it-works .tns-outer {
  position: relative;
}
.how-it-works .tns-outer .tns-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  position: absolute;
  top: -50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
.how-it-works .tns-outer .tns-controls button {
  font-size: 50px;
  color: #2c68d5;
  border: none;
  background-color: transparent;
}
.how-it-works .tns-outer .tns-controls button:first-child {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.how-it-works .tns-outer .tns-controls button:last-child {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.how-it-works .tns-outer .tns-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.how-it-works .tns-outer .tns-nav button {
  width: 20px;
  height: 20px;
  background-color: #e9e9e9;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  padding: 0;
  display: block;
  position: relative;
}
.how-it-works .tns-outer .tns-nav button:last-child {
  margin-right: 0;
}
.how-it-works .tns-outer .tns-nav button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.how-it-works .tns-outer .tns-nav button.tns-nav-active:before {
  background-color: #2c68d5;
}
.how-it-works__items {
  padding-top: 25px;
  padding-right: 30px;
  border-right: 2px solid #7b7b7b;
  position: relative;
}
.how-it-works__active-border {
  position: absolute;
  background-color: #2c68d5;
  width: 6px;
  height: 93px;
  top: 30px;
  right: -4px;
  transition: height 0.3s, top 0.3s;
}
.how-it-works__item {
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.how-it-works__item:last-child {
  margin-bottom: 0;
}
.how-it-works__item:hover .how-it-works__name {
  color: #2c68d6;
}
.how-it-works__item.is-active-item-theme .how-it-works__name {
  color: #2c68d6;
}
.how-it-works__item-body {
  color: #292929;
  text-align: right;
}
.how-it-works__name {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 5px;
  transition: color 0.3s;
}
.how-it-works__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}
.how-it-works__img {
  width: 415px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.logo__link {
  text-decoration: none;
  display: block;
}
.logo__img {
  display: block;
  width: 230px;
  max-width: 100%;
}
.logo__name {
  font-size: 28px;
  color: #292929;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
}
.page-scroller {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 1050;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(3,169,244,0.1);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}
.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  fill: #666;
  width: 24px;
  height: 24px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(3,169,244,0.12);
}
.page-scroller:active {
  background-color: rgba(3,169,244,0.14);
}
.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}
.social-block__item {
  color: #000;
  text-decoration: none;
  width: 500px;
  max-width: 100%;
  padding: 20px 15px 20px 20px;
  border-radius: 7px;
  border: 1px solid #ecedf2;
  background-color: #fff;
  display: block;
  margin-bottom: 15px;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.social-block__body {
  display: -ms-flexbox;
  display: flex;
}
.social-block__img {
  -ms-flex: 0 0 85px;
      flex: 0 0 85px;
  width: 85px;
  max-width: 85px;
  height: 85px;
  margin-right: 15px;
}
.social-block__info {
  width: 100%;
}
.social-block__info-text {
  font-size: 24px;
  color: #696969;
  line-height: 1.1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
}
.social-block__info-text:last-child {
  margin-bottom: 0;
}
.social-block__name {
  font-weight: 400;
}
.social-block__soc-info {
  padding: 0 3px;
  color: #fefefe;
  background-color: #44a23a;
}
.social-block__budget strong {
  color: #393c51;
}
.social-tasks {
  padding-top: 30px;
  padding-bottom: 35px;
  border-radius: 7px;
  background-color: #fafafa;
}
.social-tasks__title {
  font-size: 36px;
  color: #292929;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.social-tasks__items {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: -15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.social-tasks .tns-outer {
  position: relative;
}
.social-tasks .tns-outer .tns-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
.social-tasks .tns-outer .tns-controls button {
  font-size: 50px;
  color: #2c68d5;
  border: none;
  background-color: transparent;
}
.social-tasks .tns-outer .tns-controls button:first-child {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.social-tasks .tns-outer .tns-controls button:last-child {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.social-tasks__item {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  width: 33.333%;
  max-width: 33.333%;
  padding-left: 15px;
  margin-bottom: 15px;
  display: -ms-flexbox;
  display: flex;
}
.social-tasks__item--task .social-tasks__btn-task:hover {
  color: #2c68d5;
  background-color: #fff;
}
.social-tasks__body {
  padding: 40px 55px 35px 55px;
  border-radius: 7px;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.social-tasks__top {
  margin-bottom: 25px;
}
.social-tasks__name {
  font-size: 28px;
  color: #292929;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.social-tasks__price {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 1.1;
  padding: 1px 5px 3px;
  background-color: #4ab178;
  display: inline-block;
  margin-bottom: 20px;
}
.social-tasks__price strong {
  font-weight: 600;
}
.social-tasks__text {
  font-size: 20px;
  color: #292929;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 35px;
}
.social-tasks__list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.social-tasks__list li {
  font-size: 20px;
  color: #292929;
  font-weight: 600;
  line-height: 1.1;
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
}
.social-tasks__list li:last-child {
  margin-bottom: 0;
}
.social-tasks__list li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  background: url("../img/check-mark.png") 0 0 no-repeat;
  background-size: cover;
}
.social-tasks__btn-task {
  color: #2c68d5;
  border: 1px solid #2c68d5;
  background-color: #fff;
  width: 270px;
  max-width: 100%;
  padding-bottom: 15px;
}
.social-tasks__btn-task:hover {
  color: #fff;
}
.social-tasks__btn-task.is-active-btn-task {
  background-color: #2c68d5;
  color: #fff;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }
}
@media (min-width: 1251px) {
  .first-screen__cols {
    height: 568px;
  }
  .social-block__items {
    padding-left: 150px;
  }
  .social-block__item.is-active-index + .social-block__item.is-active-index {
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(-100px) !important;
            transform: translateX(-100px) !important;
  }
  .social-block__item.is-active-index + .social-block__item.is-active-index + .social-block__item.is-active-index + .social-block__item.is-active-index {
    transition: none;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
}
@media (max-width: 1600px) {
  .first-screen {
    background-position: 305% 100%;
  }
}
@media (max-width: 1440px) {
  .first-screen {
    background-position: -140% 100%;
  }
}
@media (max-width: 1366px) {
  .first-screen {
    background-position: -100% 100%;
  }
}
@media (max-width: 1279px) {
  .app-footer {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .social-widget {
    margin-bottom: 45px;
  }
  .bottom-info {
    margin-bottom: 50px;
  }
  .bottom-info__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .bottom-info__desc {
    font-size: 28px;
    margin-bottom: 35px;
  }
  .bottom-info__btn-try {
    font-size: 18px;
    padding: 25px;
    width: 320px;
  }
  .first-screen {
    background-position: 0% 100%;
  }
  .first-screen__section {
    padding-top: 30px;
    padding-bottom: 85px;
  }
  .first-screen__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .first-screen__desc {
    font-size: 28px;
  }
  .first-screen__btn-free {
    font-size: 18px;
    padding: 25px;
    width: 320px;
  }
  .first-screen__note {
    font-size: 20px;
  }
  .how-it-works__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .how-it-works__desc {
    font-size: 26px;
  }
  .how-it-works__name {
    font-size: 24px;
  }
  .how-it-works__text {
    font-size: 20px;
  }
  .social-block__info-text {
    font-size: 18px;
  }
  .social-tasks__title {
    font-size: 30px;
  }
  .social-tasks__body {
    padding: 30px;
  }
  .social-tasks__name {
    font-size: 24px;
  }
  .social-tasks__price {
    font-size: 18px;
  }
  .social-tasks__text {
    font-size: 18px;
  }
  .social-tasks__list li {
    font-size: 18px;
  }
  .social-tasks__btn-task {
    font-size: 18px;
  }
}
@media (max-width: 1250px) {
  .first-screen__cols {
    display: block;
  }
  .first-screen__info {
    width: 100%;
    margin-bottom: 30px;
  }
  .social-block .tns-ovh {
    height: 264px !important;
  }
  .social-block__item {
    width: 400px;
    padding: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1023px) {
  .first-screen__section {
    padding-bottom: 40px;
  }
  .social-block__item {
    width: 100%;
  }
}
@media (max-width: 959px) {
  .app-footer__col {
    width: 33.333%;
  }
  .language-v {
    margin-right: 35px;
  }
  .language-v__set-language:after {
    top: 12px;
  }
  .language-v__set-language {
    font-size: 24px;
  }
  .language-v__link {
    font-size: 24px;
  }
  .log-in__btn-log-in {
    font-size: 24px;
  }
  .bottom-info__title {
    font-size: 26px;
  }
  .bottom-info__desc {
    font-size: 24px;
  }
  .first-screen__title {
    font-size: 26px;
  }
  .first-screen__desc {
    font-size: 24px;
  }
  .how-it-works__col:first-child {
    margin-right: 15px;
  }
  .how-it-works__title {
    font-size: 26px;
  }
  .how-it-works__desc {
    font-size: 22px;
  }
  .how-it-works__name {
    font-size: 22px;
  }
  .how-it-works__text {
    font-size: 18px;
  }
  .logo__img {
    width: 180px;
  }
  .logo__name {
    font-size: 24px;
  }
  .social-tasks__title {
    font-size: 26px;
  }
  .social-tasks__items {
    padding-right: 0;
    padding-left: 0;
  }
  .social-tasks__item {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .how-it-works__cols {
    display: block;
  }
  .how-it-works__col {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  .how-it-works__head {
    margin-bottom: 0;
  }
  .how-it-works__items {
    height: 100%;
    border-right: none;
    padding-right: 0;
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
  }
  .how-it-works__active-border {
    display: none;
  }
  .how-it-works__item {
    pointer-events: none;
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    display: none;
  }
  .how-it-works__item.is-active-item-theme {
    display: block;
  }
  .how-it-works__item-body {
    text-align: left;
  }
  .how-it-works__name {
    font-size: 18px;
  }
  .how-it-works__text {
    font-size: 16px;
  }
  .how-it-works__img-body {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 640px) {
  .app-header__manage .language-v,
  .app-header__manage .log-in {
    display: none;
  }
  .burger {
    display: block;
  }
  .social-tasks__items {
    display: inline-block;
    margin-left: 0;
  }
  .social-tasks__item {
    padding-left: 0;
  }
  .social-tasks__body {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 639px) {
  .app-footer__cols {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
  }
  .app-footer__col {
    width: 100%;
  }
  .app-footer__logo {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .app-footer__social {
    -ms-flex-pack: center;
        justify-content: center;
    margin-bottom: 15px;
    display: none;
  }
  .app-footer__social--mob {
    display: block;
  }
  .app-footer__contacts {
    margin-bottom: 50px;
  }
  .app-footer__payments-service {
    margin: 0 auto;
    padding-left: 15px;
    margin-bottom: 25px;
  }
  .app-footer__copy {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .language-v {
    margin-right: 25px;
  }
  .language-v__set-language:after {
    top: 7px;
  }
  .bottom-info__title {
    font-size: 24px;
  }
  .bottom-info__desc {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .bottom-info__btn-try {
    font-size: 16px;
  }
  .first-screen__title {
    font-size: 24px;
  }
  .first-screen__desc {
    font-size: 20px;
  }
  .first-screen__btn-free {
    font-size: 16px;
  }
  .first-screen__note {
    font-size: 16px;
  }
  .how-it-works__title {
    font-size: 24px;
  }
  .how-it-works__desc {
    font-size: 18px;
  }
  .logo__img {
    width: 140px;
  }
  .logo__name {
    font-size: 18px;
  }
  .social-tasks__title {
    font-size: 24px;
  }
}
@media (max-width: 440px) {
  .how-it-works .tns-outer .tns-controls {
    top: -70px;
  }
  .how-it-works .tns-outer .tns-controls button:first-child {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .how-it-works .tns-outer .tns-controls button:last-child {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .how-it-works__item {
    width: 240px;
  }
  .social-block__body {
    -ms-flex-align: center;
        align-items: center;
  }
  .social-block__info-text {
    display: block;
  }
  .social-block__name {
    display: block;
    margin-bottom: 5px;
  }
  .social-tasks__body {
    width: 320px;
  }
}
