.app-footer
    flex none
    padding-top 70px
    padding-bottom 70px
    // background-color #fafafa
    border-top 1px solid #e0e4e9

    @media (max-width 1279px)
        padding-top 35px
        padding-bottom 35px
    
    &__cols
        display flex
        margin-bottom 35px

        @media (max-width 639px)
            flex-direction column
            justify-content center
            align-items center
            text-align center

    &__col
        
        &--site-info
            width 50%

        &--contacts
            width 30%

        &--payments
            width 20%

        @media (max-width 959px)
            width 33.333%    

        @media (max-width 639px)
            width 100%

    &__logo
        display flex
        align-items center
        margin-bottom 25px       

        @media (max-width 639px)
            justify-content center

        a
            margin-right 15px 
        
    &__logo-name
        font-size 18px
        color #34374c
        font-weight 600    

    &__menu
        list-style-type none
        padding-left 0
        margin-bottom 50px

        li
            margin-bottom 15px

            a
                font-size 16px
                color #34374c
                line-height 1.3
                font-weight 400
                text-decoration none
                transition color .3s
                &:hover
                    color #2c68d5

    &__social
        display flex

        @media (max-width 639px)
            justify-content center
            margin-bottom 15px
            display none        

        &--mob    
            display none
            
            @media (max-width 639px)
                display block

    &__social-link
        width 30px
        margin-right 20px
        text-decoration none
        transition transform .3s
        &:hover
            transform translate(0, 4px)

        &:last-child
            margin-right 0    

    &__title                
        font-size 16px
        color #34374c
        font-weight 600    
        margin-bottom 25px

    &__contacts

        a
            font-size 16px
            color #34374c
            line-height 1.3
            font-weight 400
            text-decoration none
            display block    
            margin-bottom 15px
            transition color .3s
            &:hover
                color #2c68d5

        @media (max-width 639px)
            margin-bottom 50px        

    &__payments-service
        width 215px
        display flex
        flex-wrap wrap    

        @media (max-width 639px)
            margin 0 auto
            padding-left 15px
            margin-bottom 25px

    &__payments-img
        width 60px
        margin-bottom 15px    

    &__copy
        font-size 14px

        @media (max-width 639px)
            text-align center
