<footer block="app-footer">
    <div elem="section" class="contain">
        <div elem="cols">
            <div elem="col" mods="site-info">
                <!-- <div elem="logo">
                    <a href="/"><img src="img/logo_f.svg" alt=""></a>
                    <span elem="logo-name">Earnon Social</span>
                </div> -->
                <nav elem="nav">
                    <ul elem="menu">
                        <li><a href="https://api.whatsapp.com/send?phone=79653088216">Contact Us</a></li>
                        <li><a href="https://earnon.social/terms_of_service.pdf">Terms of Service</a></li>
                        <li><a href="https://earnon.social/privacy_policy.pdf">Privacy Policy</a></li>
                    </ul>
                </nav>
                <div elem="social">
                    <a elem="social-link" href="#"><img src="img/inst.svg" alt=""></a>
                    <a elem="social-link" href="https://vk.com/massluking"><img src="img/vk.svg" alt=""></a>
                    <a elem="social-link" href="#"><img src="img/fb.svg" alt=""></a>
                </div>
            </div>
            <div elem="col" mods="contacts">
                <div elem="title">Contacts</div>
                <div elem="contacts">
                    <a elem="phone" href="tel:+13239794505">+1 323 979 45 05</a>
                    <a elem="email" href="mailto:info@earnon.social">info@earnon.social</a>
                </div>
            </div>
            <div elem="col" mods="payments">
                <div elem="title">We accept payments</div>
                <div elem="payments-service">
                    <div elem="payments-img"><img src="img/footer-icon-1.svg" alt=""></div>
                    <div elem="payments-img"><img src="img/footer-icon-2.svg" alt=""></div>
                    <div elem="payments-img"><img src="img/footer-icon-3.png" alt=""></div>
                    <div elem="payments-img"><img src="img/footer-icon-4.svg" alt=""></div>
                    <div elem="payments-img"><img src="img/footer-icon-5.svg" alt=""></div>
                    <div elem="payments-img"><img src="img/footer-icon-6.png" alt=""></div>
                </div>

                <div elem="social" mods="mob">
                    <a elem="social-link" href="#"><img src="img/inst.svg" alt=""></a>
                    <a elem="social-link" href="https://vk.com/massluking"><img src="img/vk.svg" alt=""></a>
                    <a elem="social-link" href="#"><img src="img/fb.svg" alt=""></a>
                </div>

            </div>
        </div>
        <div elem="copy">&copy; 2019 individual Entrepreuner | Influence marketing</div>
    </div>
</footer><!-- app-footer -->