.first-screen
    background url('../img/ellipse-pic.png') 490% 100% no-repeat
    margin-bottom 25px
    padding-top 75px

    @media (max-width 1600px)
        background-position 305% 100%

    @media (max-width 1440px)    
        background-position -140% 100%

    @media (max-width 1366px)
        background-position -100% 100%  

    @media (max-width 1279px)
        background-position 0% 100%

    &__section
        padding-top 55px
        padding-bottom 170px

        @media (max-width 1279px)
            padding-top 30px
            padding-bottom 85px

        @media (max-width 1023px)
            padding-bottom 40px    

    &__cols
        display flex
        align-items center

        @media (min-width 1251px)
            height 568px

        @media (max-width 1250px)
            display block

    &__info
        width 650px
        max-width 100%    

        @media (max-width 1250px)
            width 100%
            margin-bottom 30px

    &__title
        font-size 36px
        color #292929
        font-weight 700
        line-height 1.3
        text-transform uppercase    
        margin-top 0
        margin-bottom 40px

        @media (max-width 1279px)
            font-size 30px
            margin-bottom 20px

        @media (max-width 959px)
            font-size 26px    

        @media (max-width 479px)
            font-size 24px        

    &__desc
        font-size 32px
        color #292929
        font-weight 400
        line-height 1.1
        margin-bottom 40px

        @media (max-width 1279px)
            font-size 28px

        @media (max-width 959px)
            font-size 24px    

        @media (max-width 479px)
            font-size 20px    

    &__btn-free
        font-size 32px
        padding-top 30px
        padding-bottom 30px 
        margin-bottom 30px
        width 510px
        max-width 100%
        border-radius 5px

        @media (max-width 1279px)
            font-size 18px
            padding 25px
            width 320px 

        @media (max-width 479px)
            font-size 16px    

    &__note
        font-size 24px
        color #292929
        font-weight 400
        line-height 1.1

        @media (max-width 1279px)
            font-size 20px

        @media (max-width 479px)
            font-size 16px      