<div block="first-screen">
    <div elem="section" class="contain">
        <div elem="cols">
            <div elem="col">
                <div elem="info">
                    <h1 elem="title">
                        INCREASE INSTAGRAM FOLLOWERS
                        WITH INFLUENCER MARKETING!
                    </h1>
                    <div elem="desc">Join worldwide digital influencer’s platform.</div>
                    <a elem="btn-free" class="btn-default" href="https://app.earnon.social/signup/"  target="_blank">TRY FOR FREE</a>
                    <div elem="note">No card needed to try. No password required at all.</div>
                </div>
            </div>
            <div elem="col">
                {% include "social-block.html" %}
            </div>
        </div>
    </div>
</div><!-- first-screen -->