<div block="social-block">
    <div elem="section">
        <div elem="items" class="js-social-block">
            <a elem="item" href="#" data-index="0">
                <span elem="body">
                    <span elem="img"><img src="img/task-img.png" alt=""></span>
                    <span elem="info">
                        <span elem="info-text">
                            <span elem="name">discussion:</span>
                            <span elem="soc-info">new comments: <strong>20</strong></span>
                        </span>
                        <span elem="info-text">
                            <span elem="name">instagram</span>
                            <span elem="budget">budget: <strong>2$</strong></span>
                        </span>
                    </span>
                </span>
            </a>
            <a elem="item" href="#" data-index="1">
                <span elem="body">
                    <span elem="img"><img src="img/task2-img.png" alt=""></span>
                    <span elem="info">
                        <span elem="info-text">
                            <span elem="name">promo story:</span>
                            <span elem="soc-info">new followers: <strong>450</strong></span>
                        </span>
                        <span elem="info-text">
                            <span elem="name">instagram</span>
                            <span elem="budget">budget: <strong>60$</strong></span>
                        </span>
                    </span>
                </span>
            </a>
            <a elem="item" href="#" data-index="2">
                <span elem="body">
                    <span elem="img"><img src="img/task3-img.png" alt=""></span>
                    <span elem="info">
                        <span elem="info-text">
                            <span elem="name">promo story:</span>
                            <span elem="soc-info">new followers: <strong>120</strong></span>
                        </span>
                        <span elem="info-text">
                            <span elem="name">instagram</span>
                            <span elem="budget">budget: <strong>10$</strong></span>
                        </span>
                    </span>
                </span>
            </a>
            <a elem="item" href="#" data-index="3">
                <span elem="body">
                    <span elem="img"><img src="img/task4-img.png" alt=""></span>
                    <span elem="info">
                        <span elem="info-text">
                            <span elem="name">discussion:</span>
                            <span elem="soc-info">new comments: <strong>12</strong></span>
                        </span>
                        <span elem="info-text">
                            <span elem="name">instagram</span>
                            <span elem="budget">budget: <strong>1$</strong></span>
                        </span>
                    </span>
                </span>
            </a>
            <a elem="item" href="#" data-index="4">
                <span elem="body">
                    <span elem="img"><img src="img/task3-img.png" alt=""></span>
                    <span elem="info">
                        <span elem="info-text">
                            <span elem="name">discussion:</span>
                            <span elem="soc-info">new comments: <strong>12</strong></span>
                        </span>
                        <span elem="info-text">
                            <span elem="name">instagram</span>
                            <span elem="budget">budget: <strong>1$</strong></span>
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div><!-- social-block -->