.social-block

    &__items

        @media (min-width 1251px)
            padding-left 150px

    .tns-ovh
        @media (max-width 1250px)
            height 264px !important

    &__item
        color #000
        text-decoration none
        width 500px
        max-width 100%
        padding 20px 15px 20px 20px
        border-radius 7px
        border 1px solid #ecedf2
        background-color #ffffff
        display block
        margin-bottom 15px
        transition transform .5s

        @media (min-width 1251px)
            &.is-active-index + &.is-active-index
                transition transform .3s
                transform translateX(-100px) !important

            &.is-active-index + &.is-active-index + &.is-active-index + &.is-active-index
                transition none
                transform translateX(0) !important

        @media (max-width 1250px)
            width 400px
            padding 15px
            margin-bottom 15px

        @media (max-width 1023px)
            width 100%    

    &__body
        display flex

        @media (max-width 440px)
            align-items center

    &__img
        flex 0 0 85px
        width 85px
        max-width 85px
        height 85px    
        margin-right 15px

    &__info
        width 100%
        
    &__info-text
        font-size 24px
        color #696969
        line-height 1.1
        display flex
        justify-content space-between    
        align-items center
        margin-bottom 20px
        &:last-child
            margin-bottom 0

        @media (max-width 1279px)
            font-size 18px    

        @media (max-width 440px)
            display block    

    &__name
        font-weight 400

        @media (max-width 440px)
            display block 
            margin-bottom 5px
        
    &__soc-info
        padding 0 3px
        color #fefefe
        background-color #44a23a

    &__budget

        strong
           color #393c51