.logo

    &__link
        text-decoration none
        display block

    &__img
        display block
        width 230px
        max-width 100%

        @media (max-width 959px)
            width 180px

        @media (max-width 479px)
            width 140px

    &__name
        font-size 28px
        color #292929
        font-weight 700
        line-height 1
        text-transform uppercase
        text-decoration none

        @media (max-width 959px)
            font-size 24px

        @media (max-width 479px)    
            font-size 18px