<div block="social-tasks">
    <div elem="section" class="contain">
        <h2 elem="title">ALL YOU NEED FOR ORGANIC INSTAGRAM GROWTH</h2>
        <div elem="items" class="js-social-tasks-mob">
            <div elem="item">
                <div elem="body">
                    <div elem="top">
                        <div elem="name">PROMO STORY</div>
                        <div elem="price">avg. price: <strong>~9$</strong></div>
                        <div elem="text">Create task to promote your account or website. Use filters by category, region, age and gender to attract targeted followers.</div>
                        <ul elem="list">
                            <li>Follower growth</li>
                            <li>Activity growth</li>
                            <li>Sales growth</li>
                        </ul>
                    </div>
                    <div elem="bottom">
                        <a elem="btn-task" class="btn-default btn-extra" href="https://app.earnon.social/signup/" target="_blank">COMING SOON</a>
                    </div>
                </div>
            </div>
            <div elem="item" mods="task">
                <div elem="body">
                    <div elem="top">
                        <div elem="name">ACTIVITY GROWTH</div>
                        <div elem="price">avg. price: <strong>~0.2$</strong></div>
                        <div elem="text">Get more relevant interactions on your post, growth trust and chances to be included in section “interesting” for organic growth.</div>
                        <ul elem="list">
                            <li>ER growth</li>
                            <li>Comments growth</li>
                            <li>Trust growth</li>
                        </ul>
                    </div>
                    <div elem="bottom">
                        <a elem="btn-task" class="btn-default btn-extra is-active-btn-task" href="https://app.earnon.social/signup/" target="_blank">CREATE TASK</a>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="top">
                        <div elem="name">RENT LINK IN BIO</div>
                        <div elem="price">avg. price: <strong>~1$/day</strong></div>
                        <div elem="text">Place your website link in bio of influencer Instagram account. Get new visits on your store or promote special events and promo.</div>
                        <ul elem="list">
                            <li>Visits growth</li>
                            <li>Seo profit</li>
                            <li>Sales growth</li>
                        </ul>
                    </div>
                    <div elem="bottom">
                        <a elem="btn-task" class="btn-default btn-extra" href="https://app.earnon.social/signup/" target="_blank">COMING SOON</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- social-tasks -->