.social-tasks
    padding-top 30px
    padding-bottom 35px
    border-radius 7px
    background-color #fafafa

    &__title
        font-size 36px
        color #292929
        font-weight 700
        line-height 1.2
        text-align center
        text-transform uppercase
        margin-top 0
        margin-bottom 30px

        @media (max-width 1279px)
            font-size 30px

        @media (max-width 959px)
            font-size 26px    

        @media (max-width 479px)
            font-size 24px    

    &__items
        padding-right 15px
        padding-left 15px   
        margin-left -15px
        display flex
        flex-wrap wrap
        position relative

        @media (max-width 959px)
            padding-right 0
            padding-left 0

        @media (max-width 640px)
            display inline-block    
            margin-left 0

    .tns-outer
        position relative
        

        .tns-controls
            display flex
            justify-content space-between
            width 100%
            position absolute    
            top 50%
            transform translateY(-50%)
            z-index 5

            button
                font-size 50px
                color #2c68d5
                border none
                background-color transparent
                &:first-child
                    transform translateX(-50%)

                    // @media (max-width 440px)
                    //     transform translateX(-50%)

                &:last-child
                    transform translateX(50%)

                    // @media (max-width 440px)
                    //     transform translateX(50%)

    &__item
        flex 0 0 33.333%
        width 33.333%
        max-width 33.333%
        padding-left 15px
        margin-bottom 15px    
        display flex

        &--task

            & ^[0]

                &__btn-task
                    &:hover
                        color #2c68d5
                        background-color #fff

        @media (max-width 959px)
            flex 0 0 50%
            width 50%
            max-width 50%

        @media (max-width 640px)
            padding-left 0

    &__body
        padding 40px 55px 35px 55px
        border-radius 7px
        background-color #fff
        display flex
        flex-direction column
        justify-content space-between

        @media (max-width 1279px)
            padding 30px

        @media (max-width 640px)
            width 400px
            max-width 100%
            margin 0 auto    

        @media (max-width 440px)
            width 320px    

    &__top
        margin-bottom 25px    

    &__name
        font-size 28px
        color #292929
        font-weight 700
        line-height 1.1
        text-transform uppercase
        margin-bottom 5px

        @media (max-width 1279px)
            font-size 24px

    &__price
        font-size 20px
        color #fff
        font-weight 400
        line-height 1.1
        padding 1px 5px 3px
        background-color #4ab178  
        display inline-block
        margin-bottom 20px

        strong 
            font-weight 600

        @media (max-width 1279px)
            font-size 18px

    &__text
        font-size 20px
        color #292929
        font-weight 400
        line-height 1.1
        margin-bottom 35px

        @media (max-width 1279px)
            font-size 18px

    &__list
        list-style-type none
        padding-left 0
        margin-bottom 0

        li
            font-size 20px
            color #292929
            font-weight 600
            line-height 1.1
            padding-left 30px
            position relative
            margin-bottom 15px
            &:last-child
                margin-bottom 0
            &:before
                content ''
                position absolute
                top 0
                left 0
                width 19px
                height 19px
                background url('../img/check-mark.png') 0 0 no-repeat
                background-size cover

            @media (max-width 1279px)
                font-size 18px

    &__btn-task
        color #2c68d5
        border 1px solid #2c68d5
        background-color #fff
        width 270px
        max-width 100%
        padding-bottom 15px
        &:hover
            color #fff

        &.is-active-btn-task
            background-color #2c68d5
            color #fff

        @media (max-width 1279px)
            font-size 18px    