= yaml =
pageTitle: EARNON.SOCIAL
bodyClasses: lp
layout: !!map
header: true
footer: true
left: false
right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

    <div block="fonts">
        <div elem="section" class="contain">
            <h1 elem="font-SFPro-title">Заголовок - Lorem ipsum dolor sit amet. (Шрифт SFPro)</h1>
            <p elem="font-SFPro-desc">Описание - Lorem ipsum dolor sit amet. (Шрифт SFPro)</p>

            <h1 elem="font-Montserrat-title">Заголовок - Lorem ipsum dolor sit amet. (Шрифт Montserrat)</h1>
            <p elem="font-Montserrat-desc">Описание - Lorem ipsum dolor sit amet. (Шрифт Montserrat)</p>
        </div>
    </div><!-- fonts -->

    <style>
        .fonts__font-SFPro-title {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.3;
            color: #292929;
        }
        .fonts__font-SFPro-desc {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.3;
            color: #696969;
        }
        .fonts__font-Montserrat-title {
            font-family: 'Montserrat';
            font-size: 36px;
            font-weight: 500;
            line-height: 1.3;
            color: #292929;
        }
        .fonts__font-Montserrat-desc {
            font-family: 'Montserrat';
            font-size: 24px;
            font-weight: 400;
            line-height: 1.3;
            color: #696969;
        }
    </style>

{% endblock %}