= yaml =
pageTitle: EARNON.SOCIAL
bodyClasses: lp
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

    {% include "social-tasks.html" %}

    {% include "how-it-works.html" %}

    <div block="social-widget">

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                JustReview.initBadge('VjBSMk0wVGs2anFFN2o5NVZUWjJuUT09', {
                    styles: {
                        left: '0px',
                        top: '0px',
                        borderRadius: '0px 0px 0px 0px',
                        backgroundColor: 'rgba(0, 0, 0, 1)',
                        color: 'rgba(255, 255, 255, 1)',
                        ratingBorderRadius: '0px'
                    },
                    showJustReviewLogo: true,
                    enableAggregateRatings: false,
                    services: ['facebook']
                });
            });
        </script>
        
    </div><!-- social-widget -->

    {% include "bottom-info.html" %}

{% endblock %}
