html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

.app
    display flex
    flex-direction column
    height 100%
    height 100vh

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1

* 
    outline none !important

img 
    max-width 100%
    height auto

.contain
    width 1270px + 20px + 20px
    max-width 100%
    padding-right 20px
    padding-left 20px
    margin 0 auto

.btn-default
    font-size 20px
    color #fff
    font-weight 700
    line-height 1
    text-align center
    text-transform uppercase
    text-decoration none
    border none
    padding 15px 25px 20px 25px
    background-color #2c68d5
    display inline-block
    transition background-color .3s
    &:hover
        background-color lighten(#2c68d5, 15%)
    &:active
        background-color darken(#2c68d5, 15%)

.social-widget
    margin-bottom 90px    

    @media (max-width 1279px)
        margin-bottom 45px    