<!doctype html>
<html lang="{{ app.lang }}">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="theme-color" content="{{ app.stylus.colors.theme }}">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">

        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link type="image/png" href="favicon.png" rel="icon">

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">

        <meta name="description" content="Get organic Instagram growth and got paid for your activity in instagram. Create task for other influencers and increase your engagement!">

        <meta name="keywords" content="Instagram follower, instagram growth, earn on instagram, increase instagram followers, influencer marketing, instagram influencer, organic instagram growth.">

        <title>Increase Instagram followers with Influencer marketing!</title>

        <link rel="stylesheet" href="https://justreview.co/widget/justreview.css">
        <script src="https://justreview.co/widget/justreview.js"></script>

        <link rel="stylesheet" href="css/plugins.min.css">
        <link rel="stylesheet" href="css/app.css">

        {% block inlineStyles %}{% endblock %}

    </head>

    <body block="app" class="{{ bodyClasses }}">

		{{ inlineSvgSprite() }}

        <div elem="wrapper">

            {% if layout.header %}
            	{% include 'app-header.html' %}
            {% endif %}

            <div elem="content">

                <main elem="main">
                    {% block main %}{% endblock %}
                </main><!-- app__main -->

                {% if layout.left %}
                <aside elem="aside" mods="left">
                    {% block asideLeft %}{% endblock %}
                </aside><!-- app__aside left -->
                {% endif %}

                {% if layout.right %}
                <aside elem="aside" mods="right">
                    {% block asideRight %}{% endblock %}
                </aside><!-- app__aside right -->
                {% endif %}

            </div><!-- app__content -->

            {% if layout.footer %}
            	{% include 'app-footer.html' %}
            {% endif %}

        </div><!-- app__wrapper -->

        {#% include 'page-scroller.html' %#}

        <script src="js/vendors/jquery-3.4.1.min.js"></script>
        <script src="js/plugins.min.js"></script>
        <script src="js/app.js"></script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
                m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(66663973, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        </script>
        <noscript>
            <div><img src="https://mc.yandex.ru/watch/66663973" style="position:absolute; left:-9999px;" alt="" /></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->

        <script>
            window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
            ga('create', 'G-ZY2B4GJ7LR', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async></script>

    </body><!-- app -->
</html>
